torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
pandas==1.4.3
opencv-python==4.8.0.74
timm==0.4.12
h5py==3.9.0
tqdm==4.64.0
monai==0.9.1
einops==0.4.1
openslide-python==1.2.0
pydicom==2.3.0
matplotlib==3.5.1
plotly==5.13.0
gputil==1.4.0
ipykernel==6.15.1
ipywidgets==8.0.1
scikit-learn==1.2.0
scikit-survival==0.21.0
napari==0.4.16
tensorboardX==2.5.1
umap-learn==0.5.3
pytorchvideo==0.1.5